
{% extends 'base.html.twig' %}

{% block title %}Lien envoyé{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-3">Lien envoyé !</h1>
        <p class="text-success">
            Si un compte correspondant à votre adresse e-mail existe, un e-mail contenant un lien vous permettant de 
            réinitialiser votre mot de passe vient de vous être envoyé.
            Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p class="text-muted">
            Si vous ne le voyez pas, vérifiez dans vos spams ou <a href="{{ path('app_forgot_password_request') }}">Réesseyer</a>.
        </p>

        <a href="{{ path('security_login') }}" class="btn btn-primary mt-3">Retour à la connexion</a>
    </div>
{% endblock %}