{% extends 'base.html.twig'%}
{% block body %}
<div class="container">
    <div class="hero">
        <h1>Bienvenue sur Blog Nalissa</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim omnis veritatis commodi quisquam saepe facere natus non exercitationem perferendis laboriosam porro sequi, ipsam doloremque minima.</p>

        <a href="{{ path('blog') }}" class="btn btn-theme">Voir les articles</a>
    </div>


{% endblock %}

