{% extends 'base.html.twig' %}
{% block body %}
<h1>Liste des articles (avec DataTables)</h1>
<table id="articlesTable" class="display">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Contenu</th>
            <th>Date de création</th>
            <th>Action</th>
        </tr>
    </thead>
</table>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<!-- <script>

$(function () {
    console.log("Initialisation de DataTables...");
    $('#articlesTable').DataTable({
        ajax: "{{ path('api_articles') }}",
        columns: [
            { data: 'id' },
            { data: 'title' },
            { data: 'content' },
            { data: 'createdAt' },
             { data: 'action' }
        ],
        language: {
            url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/fr-FR.json'
        },
        responsive: true
    });
});

</script> -->
{% endblock %}