{% extends 'base.html.twig'%}
{% block body %}
    <h1>Bienvenue</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum nemo optio, numquam quae quisquam nesciunt voluptatibus dignissimos expedita, culpa repudiandae sunt tempora perferendis laboriosam architecto tenetur neque a earum? Ratione autem esse, possimus odio delectus magnam exercitationem tempore cumque voluptate!
            </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum nemo optio, numquam quae quisquam nesciunt voluptatibus dignissimos expedita, culpa repudiandae sunt tempora perferendis laboriosam architecto tenetur neque a earum? Ratione autem esse, possimus odio delectus magnam exercitationem tempore cumque voluptate!
            </p>



{% endblock %}

